[Unit]
Description=OpenHasp Bridge
After=mosquitto.service
Requires=mosquitto.service

[Service]
TimeoutStartSec=0
Restart=no
# Restart=on-failure
# RestartSec=5s
# WorkingDirectory=/
ExecStart=/usr/local/sbin/openhaspbridge.py -c /etc/default/openhaspbridge.json

[Install]
WantedBy=multi-user.target
